*{
   margim:0;
   padding:0;
}

body {
}
#banner {
   width: 100%;
}

.principal {
      background: #CCCCCC
      podding:30px;
}

h1 {
   text-align: center;
}

p {
  text- align: center;
}
#missao {
    font-size: 20px;
}
    font-size:30px;
 em strong {
   color: red;
 }

